.wrap {
    transform-origin: 0% 0%;
    font-family: Space Mono;
}
h1 {
    margin: 40px;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.08em;
}

.responsive {
    max-width: 1250px;
    margin: auto;
}

figure {
    float: left;
    width: 100%;
    max-width: 540px;
    margin: 0px;
    margin-right: 100px;
    margin-top: 100px;
}

@media screen and (max-width: 1200px) {
    figure {
        width: 90%;
        max-width: 1200px;
        margin: 0px;
    }
}

img {
    width: 100%;
}

.inline {
    float: left;
    overflow-wrap: break-word;
    table-layout: fixed;
}

.large {
    font-size: 64px;
    font-weight: bold;
    max-width: 590px;
}
.small {
    font-size: 24px;
    max-width: 381px;
}

button {
    height: 68px;
    width: 216px;
    margin-top: 64px;
    background-color: black;
    color: white;
    border: 0ch;
    font-size: 14px;
    font-weight: bold;
}