.wrap {
    height: 1080px;
    width: 1440px;
    position: absolute;
    transform-origin: 0% 0%;
    font-family: Space Mono;
    letter-spacing: -0.035em;

}

h1 {
    margin: 40px;
    margin-left: 77px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.08em;

}

figure {
    float: left;
    margin-top: 200px;
    margin-left: 77px;
}

img {
    height: 447px;
}

.inline {
    float: left;

    overflow-wrap: break-word;
    table-layout: fixed;
}

.la {
    
    font-size: 64px;
    font-weight: bold;
    width: 586px;
}
.sm {
    font-size: 24px;
    width: 381px;
}

button {
    height: 68px;
    width: 216px;
    margin-top: 64px;
    background-color: black;
    color: white;
    border: 0ch;
    font-size: 14px;
    font-weight: bold;
}